/* Universal styles */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  width: 8rem;
}

/* main style */
body {
  background-color: #f2f2f2;
}

main {
  width: 100vw;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
}

/* Mobile style */
.logo-bg {
  display: none;
}

header {
  display: flex;
  background-size: cover;
  padding: 1.5rem 0 0 1rem;
  background-repeat: no-repeat;
  background-image: url(./assets/bg-main-mobile.png);
}

.header-text {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.logo-header {
  margin-bottom: 1.5rem;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-logo {
  width: 1rem;
  stroke: #191826;
}
