/* Universal styles */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  width: 8rem;
}

/* main style */
body {
  background-color: #f2f2f2;
}

main {
  gap: 11rem;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  flex-direction: column;
  background-color: #fff;
}

/* Mobile style */
.logo-bg {
  display: none;
}

header {
  display: flex;
  padding: 1.5rem 0 0 1rem;
  background-repeat: no-repeat;
  background-position: 1rem -18rem;
  background-image: url(./assets/bg-main-mobile.png);
}

.header-text {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.logo-header {
  margin-bottom: 1.5rem;
}

.social-logo {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #191826;
}

.header-text > h1 {
  width: 20.4rem;
  color: #191826;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

.header-text > p {
  width: 20.4rem;
  font-size: 1rem;
  font-weight: 400;
  color: #191826;
  line-height: 1.625rem;
}

.pricing {
  width: 100vw;
  height: 37.5rem;
  position: relative;
  border-radius: 1rem;
  background-color: #191826;
}

.bg-pattern-2 {
  top: 0;
  width: 78vw;
  left: 2.4rem;
  height: 27.5rem;
  position: absolute;
}

.illustration-device {
  top: -6rem;
  left: 4rem;
  z-index: 1;
  width: 14rem;
  height: 28rem;
  position: absolute;
}

article {
  gap: 0.5rem;
  z-index: 2;
  width: 100vw;
  display: flex;
  bottom: -20.7rem;
  color: #fcfaf9;
  position: absolute;
  border-radius: 1rem;
  padding: 2.5rem 1.5rem;
  flex-direction: column;
  background-color: #fa7453;
}

article > h3 {
  width: 18rem;
  font-size: 2rem;
  font-weight: 700;
}

article > p {
  width: 19rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

article > h2 {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  align-items: center;
}

article > h2 > span {
  font-weight: 400;
  margin-left: 1rem;
  font-size: 1.25rem;
}

.download-buttons {
  gap: 1rem;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ios {
  border: none;
  width: 18rem;
  height: 3.8rem;
  color: #fcfaf9;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 14px;
  background-color: #191826;
}

.android {
  border: none;
  width: 18rem;
  height: 3.8rem;
  color: #191826;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 14px;
  background-color: #fcfaf9;
}

.button-ios {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fcfaf9;
}

.button-android {
  width: 1.5rem;
  height: 1.5rem;
  fill: #191826;
}

footer {
  gap: 3rem;
  display: flex;
  margin-top: 12rem;
  flex-direction: column;
  padding: 1.5rem 0 3rem 1rem;
}

.copyright {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.copyright > p {
  width: 18.7rem;
  font-size: 1rem;
  font-weight: 400;
  color: #191826;
  line-height: 1.625rem;
}

a {
  display: block;
  font-weight: 700;
  color: #191826;
  text-decoration: none;
}

.media {
  gap: 1.5rem;
  display: flex;
  align-items: center;
}
