/* Universal styles */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

/* main style */
body {
  background-color: #f2f2f2;
}

main {
  gap: 11rem;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  flex-direction: column;
  background-color: #fff;
}

/* Mobile style */
.logo-bg {
  display: none;
}

header {
  display: flex;
  padding: 1.5rem 0 0 1rem;
  background-repeat: no-repeat;
  background-position: 1rem -18rem;
  background-image: url(./assets/bg-main-mobile.png);
}

.header-text {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.logo-header {
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.social-logo {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  stroke: #191826;
}

.social-logo:hover {
  stroke: #ffb964;
}

.header-text > h1 {
  width: 20.4rem;
  color: #191826;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

.header-text > p {
  width: 20.4rem;
  font-size: 1rem;
  font-weight: 400;
  color: #191826;
  line-height: 1.625rem;
}

.pricing {
  width: 100vw;
  height: 37.5rem;
  position: relative;
  border-radius: 1rem;
  background-color: #191826;
}

.bg-pattern-2 {
  top: 0;
  width: 78vw;
  left: 2.4rem;
  height: 27.5rem;
  position: absolute;
}

.illustration-device {
  top: -6rem;
  left: 4rem;
  z-index: 1;
  width: 14rem;
  height: 28rem;
  position: absolute;
}

article {
  gap: 0.5rem;
  z-index: 2;
  width: 100vw;
  display: flex;
  bottom: -20.7rem;
  color: #fcfaf9;
  position: absolute;
  border-radius: 1rem;
  padding: 2.5rem 1.5rem;
  flex-direction: column;
  background-color: #fa7453;
}

article > h3 {
  width: 18rem;
  font-size: 2rem;
  font-weight: 700;
}

article > p {
  width: 19rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

article > h2 {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  align-items: center;
}

article > h2 > span {
  font-weight: 400;
  margin-left: 1rem;
  font-size: 1.25rem;
}

.download-buttons {
  gap: 1rem;
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  flex-direction: column;
}

button {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ios {
  border: none;
  width: 18rem;
  height: 3.8rem;
  color: #fcfaf9;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 14px;
  background-color: #191826;
}

.android {
  border: none;
  width: 18rem;
  height: 3.8rem;
  color: #191826;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 14px;
  background-color: #fcfaf9;
}

.ios:hover {
  background-color: #66e2dc;
}

.android:hover {
  background-color: #ffb964;
}
.button-ios {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #fcfaf9;
}

.button-android {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #191826;
}

footer {
  gap: 3rem;
  display: flex;
  margin-top: 12rem;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0 3rem 1rem;
}

.copyright {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
}

.copyright > a {
  margin-bottom: 2rem;
}

.copyright-p {
  display: block;
}

.copyright > p {
  width: 18.7rem;
  font-size: 1rem;
  font-weight: 400;
  color: #191826;
  line-height: 1.625rem;
}

.copyright-text {
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  font-weight: 700;
  color: #191826;
  text-decoration: none;
}

.media {
  gap: 1.5rem;
  display: flex;
  align-items: center;
}

/* Media queries */
@media screen and (min-width: 768px) {
  main {
    gap: 0;
    overflow-x: hidden;
  }
  header {
    position: relative;
    padding: 3.5rem 0 20rem 2rem;
    background-position: -21rem -18rem;
    background-image: url(./assets/bg-main-tablet.png);
  }
  .logo-bg {
    top: -1.6rem;
    right: -1rem;
    height: 80vh;
    display: block;
    position: absolute;
  }
  .header-text {
    gap: 2rem;
  }
  .header-text > p {
    width: 32rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .header-text > h1 {
    width: 32rem;
    font-size: 4rem;
    line-height: 4rem;
  }
  .pricing {
    width: 89vw;
    height: 42rem;
    margin: 0 auto;
  }
  .bg-pattern-2 {
    top: 1rem;
    left: 15.4rem;
    width: 32vw;
  }
  .illustration-device {
    width: 16.8rem;
    height: 34.8rem;
  }
  article {
    gap: 1.2rem;
    top: 12rem;
    left: 14.6rem;
    width: 25rem;
    height: 36rem;
  }
  article > p {
    line-height: 1.75rem;
  }
  footer {
    gap: 8rem;
    margin-top: 8.5rem;
    flex-direction: row;
    padding: 1.5rem 0 5rem 3rem;
  }
  .copyright-text > p > a {
    display: inline;
  }
  .copyright-text > P {
    width: 23rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    gap: 0;
    overflow-x: hidden;
  }
  header {
    position: relative;
    padding: 3.5rem 0 20rem 7rem;
    background-position: -24rem -19rem;
    background-image: url(./assets/bg-main-desktop.png);
  }
  .logo-bg {
    top: -1.7rem;
    right: 0rem;
    height: 40vh;
    display: block;
  }
  .header-text {
    gap: 2rem;
  }
  .header-text > h1 {
    width: 63rem;
    font-size: 5.2rem;
    line-height: 5.5rem;
  }
  .header-text > p {
    width: 48rem;
    line-height: 2.125rem;
  }
  .pricing {
    width: 72vw;
    height: 38rem;
    margin: 0 auto;
  }
  .bg-pattern-2 {
    top: -2.7rem;
    left: 16.6rem;
    width: 23vw;
    height: 70vh;
  }
  .illustration-device {
    top: -12rem;
    width: 17.5rem;
    height: 37.8rem;
  }
  article {
    gap: 1.2rem;
    top: 5.4rem;
    left: 32rem;
    width: 24rem;
    height: 39rem;
  }
  article > h3 {
    width: 20.8rem;
    font-size: 2.5rem;
  }
  article > p {
    width: 20.8rem;
    font-size: 1.25rem;
    line-height: 2.125rem;
  }
  footer {
    gap: 13.5rem;
    margin-top: 8.5rem;
    flex-direction: row;
    padding: 1.5rem 0 5rem 7rem;
  }
  .copyright {
    gap: 8rem;
    flex-direction: row;
  }
  .copyright > P {
    width: 22.7rem;
  }
}
